:root {
	--app-padding: 1rem;
	--app-half-padding: calc(var(--app-padding) / 2);
}

.app {
	/* min-height: 600px; */
	padding: var(--app-padding);
}

.app .btn-health {
	margin-right: var(--app-padding);
}

.app > .footer {
	background-color: bisque;
	border-radius: var(--app-padding);
	/* bottom: 0; */
	font-size: .75rem;
	/* margin: 0; */
	margin-top: var(--app-padding);
	padding: var(--app-half-padding) 0;
	/* padding: var(--app-padding); */
	/* position: absolute; */
	/* width: calc(100% - 2 * var(--app-padding)); */
}

.app > .header {
	background-color: cadetblue;
	border-radius: var(--app-padding);
	color: gold;
	font-size: 1.3rem;
	margin-bottom: var(--app-padding);
	padding: var(--app-half-padding) 0;
}
